@charset "UTF-8";
header,
footer,
nav,
section,
aside,
article {
    display: block;
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td {
    margin: 0;
    padding: 0;
}

input,
textarea {
    margin: 0;
    font-size: 100%;
}

label {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}

fieldset,
img {
    border: 0;
}

img {
    vertical-align: top;
    max-width: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before {
    content: "";
}

a,
input,
select,
textarea,
button {
    outline: none;
    text-decoration: none;
}

abbr,
acronym {
    border: 0;
}

a.btn {
    display: inline-block;
    position: relative;
}

select::-ms-expand {
    display: none;
}

input[type="radio"]::-ms-check,
input[type="checkbox"]::-ms-check {
    display: none;
}

select,
input[type="radio"],
input[type="checkbox"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="reset"],
input[type="button"],
input[type="submit"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

input[type="text"]::-ms-clear,
input[type="tel"]::-ms-clear,
input[type="number"]::-ms-clear {
    display: none;
}

.clearfix {
    display: block;
    min-height: 1%;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@media (min-width: 767px) {
    [data-show="show-for-small"],
    .show-for-small {
        display: none !important;
    }
}


/*CONTAINER*/

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: auto;
    position: relative;
}

.container-1210 {
    max-width: 1240px;
}

.container-1220 {
    max-width: 1250px;
}

.container-full {
    width: 100%;
    padding: 0;
}

.container-650 {
    max-width: 680px;
}

.container-700 {
    max-width: 730px;
}

.container-800 {
    max-width: 830px;
}

.container-820 {
    max-width: 850px;
}

.container-830 {
    max-width: 860px;
}

.container-850 {
    max-width: 880px;
}

.container-845 {
    max-width: 875px;
}

.container-875 {
    max-width: 905px;
}

.container-870 {
    max-width: 900px;
}

.container-900 {
    max-width: 930px;
}

.container-930 {
    max-width: 960px;
}

.container-950 {
    max-width: 980px;
}

.container-960 {
    max-width: 990px;
}

.container-965 {
    max-width: 995px;
}

.container-980 {
    max-width: 1010px;
}

.container-1000 {
    max-width: 1030px;
}

.container-1010 {
    max-width: 1040px;
}

.container-1030 {
    max-width: 1060px;
}

.container-1045 {
    max-width: 1075px;
}

.container-1036 {
    max-width: 1066px;
}

.container-1050 {
    max-width: 1080px;
}

.container-1060 {
    max-width: 1090px;
}

.container-1080 {
    max-width: 1110px;
}

.container-1090 {
    max-width: 1120px;
}

.container-1100 {
    max-width: 1130px;
}

.container-1110 {
    max-width: 1140px;
}

.container-1120 {
    max-width: 1150px;
}

.container-1140 {
    max-width: 1170px;
}

.container-1150 {
    max-width: 1180px;
}

.container-1160 {
    max-width: 1190px;
}

.container-1180 {
    max-width: 1210px;
}

.container-1250 {
    max-width: 1280px;
}

.container-1230 {
    max-width: 1260px;
}

.container-1260 {
    max-width: 1290px;
}

.container-1270 {
    max-width: 1300px;
}

.container-1280 {
    max-width: 1310px;
}

.container-1300 {
    max-width: 1330px;
}

.container-1330 {
    max-width: 1360px;
}

.container-1350 {
    max-width: 1380px;
}

.container-1380 {
    max-width: 1410px;
}

.container-1400 {
    max-width: 1430px;
}

.container-1450 {
    max-width: 1480px;
}

[class*="col-"]:not(.col-inner),
.row:not([class*="row-"])>* {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.row {
    position: relative;
    width: calc(100% + 30px);
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.row-xxxxlarge {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
}

.row-xxxxlarge>[class*="col-"]:not(.col-inner) {
    padding: 0 40px;
}

.row-xxxxxlarge {
    margin-left: -50px;
    margin-right: -50px;
    width: calc(100% + 100px);
}

.row-xxxxxlarge>[class*="col-"]:not(.col-inner) {
    padding: 0 50px;
}

.row-xxxlarge {
    margin-left: -35px;
    margin-right: -35px;
    width: calc(100% + 70px);
}

.row-xxxlarge>[class*="col-"]:not(.col-inner) {
    padding: 0 35px;
}

.row-xxlarge {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
}

.row-xxlarge>[class*="col-"]:not(.col-inner) {
    padding: 0 30px;
}

.row-xlarge {
    margin-left: -25px;
    margin-right: -25px;
    width: calc(100% + 50px);
}

.row-xlarge>[class*="col-"]:not(.col-inner) {
    padding: 0 25px;
}

.row-large {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
}

.row-large>[class*="col-"]:not(.col-inner) {
    padding: 0 20px;
}

.row-25 {
    margin-left: -13px;
    margin-right: -13px;
    width: calc(100% + 26px);
}

.row-25>[class*="col-"]:not(.col-inner) {
    padding: 0 13px;
}

.row-small {
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
}

.row-small>[class*="col-"]:not(.col-inner) {
    padding: 0 10px;
}

.row-xsmall {
    margin-left: -5px;
    margin-right: -5px;
    width: calc(100% + 10px);
}

.row-xsmall>[class*="col-"]:not(.col-inner) {
    padding: 0 5px;
}

.row-small-16 {
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
}

.row-small-16>[class*="col-"]:not(.col-inner) {
    padding: 0 8px;
}

.row-small-14 {
    margin-left: -7px;
    margin-right: -7px;
    width: calc(100% + 16px);
}

.row-small-14>[class*="col-"]:not(.col-inner) {
    padding: 0 7px;
}

.row-xxsmall {
    margin-left: -2px;
    margin-right: -2px;
    width: calc(100% + 4px);
}

.row-xxsmall>[class*="col-"]:not(.col-inner) {
    padding: 0 2px;
}

.row-xxxsmall {
    margin-left: -1px;
    margin-right: -1px;
    width: calc(100% + 2px);
}

.row-xxxsmall>[class*="col-"]:not(.col-inner) {
    padding: 0 1px;
}

.row-collapse {
    margin: 0;
    width: 100%;
}

.row-collapse>[class*="col-"]:not(.col-inner) {
    padding: 0;
}

.row-collapse [class*="col-"]:not(.col-inner) {
    padding: 0;
}

.row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.align-center {
    justify-content: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
}

.align-top {
    justify-content: flex-start !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    align-items: flex-start !important;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-self: flex-start !important;
    -ms-flex-item-align: start !important;
    vertical-align: top !important;
}

.align-bottom {
    justify-content: flex-end !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    align-items: flex-end !important;
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-self: flex-end !important;
    -ms-flex-item-align: end !important;
    vertical-align: bottom !important;
}

.align-middle {
    align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-self: center !important;
    vertical-align: middle !important;
}

.justify-between {
    justify-content: space-between !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
}

.justify-around {
    justify-content: space-around !important;
    -ms-flex-pack: distribute !important;
}

.justify-center {
    justify-content: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
}

.justify-end {
    justify-content: flex-end !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
}

.justify-start {
    justify-content: flex-start !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
}

.large-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    -ms-flex: 0 0 8.3333333333%;
}

.large-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.large-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    -ms-flex: 0 0 16.6666666667%;
}

.large-2-3 {
    flex: 0 0 23.33333333%;
    max-width: 23.33333333%;
}

.large-3-3 {
    flex: 0 0 27.5%;
    max-width: 27.5%;
}

.large-3-5 {
    flex: 0 0 29.5%;
    max-width: 29.5%;
}

.large-5-2 {
    flex: 0 0 41%;
    max-width: 41%;
}

.large-5-6 {
    flex: 0 0 46%;
    max-width: 46%;
}

.large-6-4 {
    flex: 0 0 54%;
    max-width: 54%;
}

.large-8-7 {
    flex: 0 0 72.5%;
    max-width: 72.5%;
}

.large-7-6 {
    flex: 0 0 63.5%;
    max-width: 63.5%;
}

.large-4-4 {
    flex: 0 0 36.5%;
    max-width: 36.5%;
}

.large-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
    -ms-flex: 0 0 20%;
}

.large-3 {
    flex: 0 0 25%;
    max-width: 25%;
    -ms-flex: 0 0 25%;
}

.large-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
}

.large-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    -ms-flex: 0 0 41.6666666667%;
}

.large-5-5 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
    -ms-flex: 0 0 45.8333333333%;
}

.large-6 {
    flex: 0 0 50%;
    max-width: 50%;
    -ms-flex: 0 0 50%;
}

.large-6-5 {
    flex: 0 0 54.166666666666%;
    max-width: 54.166666666666%;
    -ms-flex: 0 0 54.166666666666%;
}

.large-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    -ms-flex: 0 0 58.3333333333%;
}

.large-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    -ms-flex: 0 0 66.6666666667%;
}

.large-9 {
    flex: 0 0 75%;
    max-width: 75%;
    -ms-flex: 0 0 75%;
}

.large-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    -ms-flex: 0 0 83.3333333333%;
}

.large-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    -ms-flex: 0 0 91.6666666667%;
}

.large-12 {
    flex: 0 0 100%;
    max-width: 100%;
    -ms-flex: 0 0 100%;
}


/*TEXT*/

.fs-8 {
    font-size: 0.8rem;
}

.fs-9 {
    font-size: 0.9rem;
}

.fs-10 {
    font-size: 1rem;
}

.fs-11 {
    font-size: 1.1rem;
}

.fs-12 {
    font-size: 1.2rem;
}

.fs-13 {
    font-size: 1.3rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-15 {
    font-size: 1.5rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-17 {
    font-size: 1.7rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-19 {
    font-size: 1.9rem;
}

.fs-20 {
    font-size: 2rem;
}

.fs-21 {
    font-size: 2.1rem;
}

.fs-22 {
    font-size: 2.2rem;
}

.fs-23 {
    font-size: 2.3rem;
}

.fs-24 {
    font-size: 2.4rem;
}

.fs-25 {
    font-size: 2.5rem;
}

.fs-26 {
    font-size: 2.6rem;
}

.fs-27 {
    font-size: 2.7rem;
}

.fs-28 {
    font-size: 2.8rem;
}

.fs-29 {
    font-size: 2.9rem;
}

.fs-30 {
    font-size: 3rem;
}

.fs-31 {
    font-size: 3.1rem;
}

.fs-32 {
    font-size: 3.2rem;
}

.fs-33 {
    font-size: 3.3rem;
}

.fs-34 {
    font-size: 3.4rem;
}

.fs-35 {
    font-size: 3.5rem;
}

.fs-36 {
    font-size: 3.6rem;
}

.fs-37 {
    font-size: 3.7rem;
}

.fs-38 {
    font-size: 3.8rem;
}

.fs-39 {
    font-size: 3.9rem;
}

.fs-40 {
    font-size: 4rem;
}

.fs-41 {
    font-size: 4.1rem;
}

.fs-42 {
    font-size: 4.2rem;
}

.fs-43 {
    font-size: 4.3rem;
}

.fs-44 {
    font-size: 4.4rem;
}

.fs-45 {
    font-size: 4.5rem;
}

.fs-46 {
    font-size: 4.6rem;
}

.fs-47 {
    font-size: 4.7rem;
}

.fs-48 {
    font-size: 4.8rem;
}

.fs-49 {
    font-size: 4.9rem;
}

.fs-50 {
    font-size: 5.0rem;
}

.fs-51 {
    font-size: 5.1rem;
}

.fs-52 {
    font-size: 5.2rem;
}

.fs-57 {
    font-size: 5.7rem;
}

.fs-76 {
    font-size: 7.6rem;
}

.fs-90 {
    font-size: 9rem;
}

.fs-67 {
    font-size: 6.7rem;
}

.fs-68 {
    font-size: 6.8rem;
}

.fw-light {
    font-weight: 300;
}

.fw-normal {
    font-weight: 400;
}

.fw-medium {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

.fw-bolder {
    font-weight: 900;
}

.lh-1 {
    line-height: 1;
}

.lh-1-1 {
    line-height: 1.1;
}

.lh-1-15 {
    line-height: 1.15;
}

.lh-1-2 {
    line-height: 1.2;
}

.lh-1-25 {
    line-height: 1.25;
}

.lh-1-3 {
    line-height: 1.3;
}

.lh-1-35 {
    line-height: 1.35;
}

.lh-1-4 {
    line-height: 1.4;
}

.lh-1-45 {
    line-height: 1.45;
}

.lh-1-5 {
    line-height: 1.5;
}

.lh-1-55 {
    line-height: 1.55;
}

.lh-1-6 {
    line-height: 1.6;
}

.lh-1-65 {
    line-height: 1.65;
}

.lh-1-7 {
    line-height: 1.7;
}

.lh-1-75 {
    line-height: 1.75;
}

.lh-1-8 {
    line-height: 1.8;
}

.lh-1-85 {
    line-height: 1.85;
}

.lh-1-9 {
    line-height: 1.9;
}

.lh-1-95 {
    line-height: 1.95;
}

.lh-2 {
    line-height: 2;
}

.lh-2-1 {
    line-height: 2.1;
}

.lh-2-15 {
    line-height: 2.15;
}

.lh-2-2 {
    line-height: 2.2;
}

.lh-2-25 {
    line-height: 2.25;
}

.lh-2-3 {
    line-height: 2.3;
}

.lh-2-35 {
    line-height: 2.35;
}

.lh-2-4 {
    line-height: 2.4;
}

.lh-2-45 {
    line-height: 2.45;
}

.lh-2-5 {
    line-height: 2.5;
}

.lh-2-55 {
    line-height: 2.55;
}

.lh-2-6 {
    line-height: 2.6;
}

.lh-2-65 {
    line-height: 2.65;
}

.lh-2-7 {
    line-height: 2.7;
}

.lh-2-75 {
    line-height: 2.75;
}

.lh-2-8 {
    line-height: 2.8;
}

.lh-2-85 {
    line-height: 2.85;
}

.lh-2-9 {
    line-height: 2.9;
}

.lh-2-95 {
    line-height: 2.95;
}

.ls-50 {
    letter-spacing: 0.05em;
}

.ls-60 {
    letter-spacing: 0.06em;
}

.ls-75 {
    letter-spacing: 0.075em;
}

.ls-80 {
    letter-spacing: 0.08em;
}

.ls-100 {
    letter-spacing: 0.1em;
}

.ls-120 {
    letter-spacing: 0.12em;
}

.ls-125 {
    letter-spacing: 0.125em;
}

.ls-150 {
    letter-spacing: 0.15em;
}

.ls-160 {
    letter-spacing: 0.16em;
}

.ls-175 {
    letter-spacing: 0.175em;
}

.ls-200 {
    letter-spacing: 0.2em;
}

.ls-250 {
    letter-spacing: 0.25em;
}

.ls-280 {
    letter-spacing: 0.28em;
}

.ls-300 {
    letter-spacing: 0.3em;
}

.ls-500 {
    letter-spacing: 0.5em;
}

.ls-65 {
    letter-spacing: 0.065em;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}


/*MARGIN, PADDING AND POSITION*/

.p-0 {
    padding: 0px;
}

.m-0 {
    margin: 0px;
}

.t-0 {
    top: 0px;
}

.r-0 {
    right: 0px;
}

.b-0 {
    bottom: 0px;
}

.l-0 {
    left: 0px;
}

.p-5 {
    padding: 5px;
}

.m-5 {
    margin: 5px;
}

.t-5 {
    top: 5px;
}

.r-5 {
    right: 5px;
}

.b-5 {
    bottom: 5px;
}

.l-5 {
    left: 5px;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

.t-10 {
    top: 10px;
}

.r-10 {
    right: 10px;
}

.b-10 {
    bottom: 10px;
}

.l-10 {
    left: 10px;
}

.p-15 {
    padding: 15px;
}

.m-15 {
    margin: 15px;
}

.t-15 {
    top: 15px;
}

.r-15 {
    right: 15px;
}

.b-15 {
    bottom: 15px;
}

.l-15 {
    left: 15px;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}

.t-20 {
    top: 20px;
}

.r-20 {
    right: 20px;
}

.b-20 {
    bottom: 20px;
}

.l-20 {
    left: 20px;
}

.p-25 {
    padding: 25px;
}

.m-25 {
    margin: 25px;
}

.t-25 {
    top: 25px;
}

.r-25 {
    right: 25px;
}

.b-25 {
    bottom: 25px;
}

.l-25 {
    left: 25px;
}

.p-30 {
    padding: 30px;
}

.m-30 {
    margin: 30px;
}

.t-30 {
    top: 30px;
}

.r-30 {
    right: 30px;
}

.b-30 {
    bottom: 30px;
}

.l-30 {
    left: 30px;
}

.p-35 {
    padding: 35px;
}

.m-35 {
    margin: 35px;
}

.t-35 {
    top: 35px;
}

.r-35 {
    right: 35px;
}

.b-35 {
    bottom: 35px;
}

.l-35 {
    left: 35px;
}

.p-40 {
    padding: 40px;
}

.m-40 {
    margin: 40px;
}

.t-40 {
    top: 40px;
}

.r-40 {
    right: 40px;
}

.b-40 {
    bottom: 40px;
}

.l-40 {
    left: 40px;
}

.p-45 {
    padding: 45px;
}

.m-45 {
    margin: 45px;
}

.t-45 {
    top: 45px;
}

.r-45 {
    right: 45px;
}

.b-45 {
    bottom: 45px;
}

.l-45 {
    left: 45px;
}

.p-50 {
    padding: 50px;
}

.m-50 {
    margin: 50px;
}

.t-50 {
    top: 50px;
}

.r-50 {
    right: 50px;
}

.b-50 {
    bottom: 50px;
}

.l-50 {
    left: 50px;
}

.p-55 {
    padding: 55px;
}

.m-55 {
    margin: 55px;
}

.t-55 {
    top: 55px;
}

.r-55 {
    right: 55px;
}

.b-55 {
    bottom: 55px;
}

.l-55 {
    left: 55px;
}

.p-60 {
    padding: 60px;
}

.m-60 {
    margin: 60px;
}

.t-60 {
    top: 60px;
}

.r-60 {
    right: 60px;
}

.b-60 {
    bottom: 60px;
}

.l-60 {
    left: 60px;
}

.p-65 {
    padding: 65px;
}

.m-65 {
    margin: 65px;
}

.t-65 {
    top: 65px;
}

.r-65 {
    right: 65px;
}

.b-65 {
    bottom: 65px;
}

.l-65 {
    left: 65px;
}

.p-70 {
    padding: 70px;
}

.m-70 {
    margin: 70px;
}

.t-70 {
    top: 70px;
}

.r-70 {
    right: 70px;
}

.b-70 {
    bottom: 70px;
}

.l-70 {
    left: 70px;
}

.p-75 {
    padding: 75px;
}

.m-75 {
    margin: 75px;
}

.t-75 {
    top: 75px;
}

.r-75 {
    right: 75px;
}

.b-75 {
    bottom: 75px;
}

.l-75 {
    left: 75px;
}

.p-80 {
    padding: 80px;
}

.m-80 {
    margin: 80px;
}

.t-80 {
    top: 80px;
}

.r-80 {
    right: 80px;
}

.b-80 {
    bottom: 80px;
}

.l-80 {
    left: 80px;
}

.p-85 {
    padding: 85px;
}

.m-85 {
    margin: 85px;
}

.t-85 {
    top: 85px;
}

.r-85 {
    right: 85px;
}

.b-85 {
    bottom: 85px;
}

.l-85 {
    left: 85px;
}

.p-90 {
    padding: 90px;
}

.m-90 {
    margin: 90px;
}

.t-90 {
    top: 90px;
}

.r-90 {
    right: 90px;
}

.b-90 {
    bottom: 90px;
}

.l-90 {
    left: 90px;
}

.p-95 {
    padding: 95px;
}

.m-95 {
    margin: 95px;
}

.t-95 {
    top: 95px;
}

.r-95 {
    right: 95px;
}

.b-95 {
    bottom: 95px;
}

.l-95 {
    left: 95px;
}

.p-100 {
    padding: 100px;
}

.m-100 {
    margin: 100px;
}

.t-100 {
    top: 100px;
}

.r-100 {
    right: 100px;
}

.b-100 {
    bottom: 100px;
}

.l-100 {
    left: 100px;
}

.p-105 {
    padding: 105px;
}

.m-105 {
    margin: 105px;
}

.t-105 {
    top: 105px;
}

.r-105 {
    right: 105px;
}

.b-105 {
    bottom: 105px;
}

.l-105 {
    left: 105px;
}

.p-110 {
    padding: 110px;
}

.m-110 {
    margin: 110px;
}

.t-110 {
    top: 110px;
}

.r-110 {
    right: 110px;
}

.b-110 {
    bottom: 110px;
}

.l-110 {
    left: 110px;
}

.p-115 {
    padding: 115px;
}

.m-115 {
    margin: 115px;
}

.t-115 {
    top: 115px;
}

.r-115 {
    right: 115px;
}

.b-115 {
    bottom: 115px;
}

.l-115 {
    left: 115px;
}

.p-120 {
    padding: 120px;
}

.m-120 {
    margin: 120px;
}

.t-120 {
    top: 120px;
}

.r-120 {
    right: 120px;
}

.b-120 {
    bottom: 120px;
}

.l-120 {
    left: 120px;
}

.p-125 {
    padding: 125px;
}

.m-125 {
    margin: 125px;
}

.t-125 {
    top: 125px;
}

.r-125 {
    right: 125px;
}

.b-125 {
    bottom: 125px;
}

.l-125 {
    left: 125px;
}

.p-130 {
    padding: 130px;
}

.m-130 {
    margin: 130px;
}

.t-130 {
    top: 130px;
}

.r-130 {
    right: 130px;
}

.b-130 {
    bottom: 130px;
}

.l-130 {
    left: 130px;
}

.p-135 {
    padding: 135px;
}

.m-135 {
    margin: 135px;
}

.t-135 {
    top: 135px;
}

.r-135 {
    right: 135px;
}

.b-135 {
    bottom: 135px;
}

.l-135 {
    left: 135px;
}

.p-140 {
    padding: 140px;
}

.m-140 {
    margin: 140px;
}

.t-140 {
    top: 140px;
}

.r-140 {
    right: 140px;
}

.b-140 {
    bottom: 140px;
}

.l-140 {
    left: 140px;
}

.p-145 {
    padding: 145px;
}

.m-145 {
    margin: 145px;
}

.t-145 {
    top: 145px;
}

.r-145 {
    right: 145px;
}

.b-145 {
    bottom: 145px;
}

.l-145 {
    left: 145px;
}

.p-150 {
    padding: 150px;
}

.m-150 {
    margin: 150px;
}

.t-150 {
    top: 150px;
}

.r-150 {
    right: 150px;
}

.b-150 {
    bottom: 150px;
}

.l-150 {
    left: 150px;
}

.pt-0 {
    padding-top: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.pt-5 {
    padding-top: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pr-25 {
    padding-right: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pl-25 {
    padding-left: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-25 {
    margin-right: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.ml-25 {
    margin-left: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pr-35 {
    padding-right: 35px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pl-35 {
    padding-left: 35px;
}

.mt-35 {
    margin-top: 35px;
}

.mr-35 {
    margin-right: 35px;
}

.mb-35 {
    margin-bottom: 35px;
}

.ml-35 {
    margin-left: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-40 {
    margin-right: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-40 {
    margin-left: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pr-45 {
    padding-right: 45px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pl-45 {
    padding-left: 45px;
}

.mt-45 {
    margin-top: 45px;
}

.mr-45 {
    margin-right: 45px;
}

.mb-45 {
    margin-bottom: 45px;
}

.ml-45 {
    margin-left: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pl-50 {
    padding-left: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pr-55 {
    padding-right: 55px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pl-55 {
    padding-left: 55px;
}

.mt-55 {
    margin-top: 55px;
}

.mr-55 {
    margin-right: 55px;
}

.mb-55 {
    margin-bottom: 55px;
}

.ml-55 {
    margin-left: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.pr-60 {
    padding-right: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pl-60 {
    padding-left: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mr-60 {
    margin-right: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.ml-60 {
    margin-left: 60px;
}

.pt-65 {
    padding-top: 65px;
}

.pr-65 {
    padding-right: 65px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pl-65 {
    padding-left: 65px;
}

.mt-65 {
    margin-top: 65px;
}

.mr-65 {
    margin-right: 65px;
}

.mb-65 {
    margin-bottom: 65px;
}

.ml-65 {
    margin-left: 65px;
}

.pt-70 {
    padding-top: 70px;
}

.pr-70 {
    padding-right: 70px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pl-70 {
    padding-left: 70px;
}

.mt-70 {
    margin-top: 70px;
}

.mr-70 {
    margin-right: 70px;
}

.mb-70 {
    margin-bottom: 70px;
}

.ml-70 {
    margin-left: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pr-75 {
    padding-right: 75px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pl-75 {
    padding-left: 75px;
}

.mt-75 {
    margin-top: 75px;
}

.mr-75 {
    margin-right: 75px;
}

.mb-75 {
    margin-bottom: 75px;
}

.ml-75 {
    margin-left: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pr-80 {
    padding-right: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pl-80 {
    padding-left: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mr-80 {
    margin-right: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}

.ml-80 {
    margin-left: 80px;
}

.pt-85 {
    padding-top: 85px;
}

.pr-85 {
    padding-right: 85px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pl-85 {
    padding-left: 85px;
}

.mt-85 {
    margin-top: 85px;
}

.mr-85 {
    margin-right: 85px;
}

.mb-85 {
    margin-bottom: 85px;
}

.ml-85 {
    margin-left: 85px;
}

.pt-90 {
    padding-top: 90px;
}

.pr-90 {
    padding-right: 90px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pl-90 {
    padding-left: 90px;
}

.mt-90 {
    margin-top: 90px;
}

.mr-90 {
    margin-right: 90px;
}

.mb-90 {
    margin-bottom: 90px;
}

.ml-90 {
    margin-left: 90px;
}

.pt-95 {
    padding-top: 95px;
}

.pr-95 {
    padding-right: 95px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pl-95 {
    padding-left: 95px;
}

.mt-95 {
    margin-top: 95px;
}

.mr-95 {
    margin-right: 95px;
}

.mb-95 {
    margin-bottom: 95px;
}

.ml-95 {
    margin-left: 95px;
}

.pt-100 {
    padding-top: 100px;
}

.pr-100 {
    padding-right: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pl-100 {
    padding-left: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-100 {
    margin-left: 100px;
}

.pt-105 {
    padding-top: 105px;
}

.pr-105 {
    padding-right: 105px;
}

.pb-105 {
    padding-bottom: 105px;
}

.pl-105 {
    padding-left: 105px;
}

.mt-105 {
    margin-top: 105px;
}

.mr-105 {
    margin-right: 105px;
}

.mb-105 {
    margin-bottom: 105px;
}

.ml-105 {
    margin-left: 105px;
}

.pt-110 {
    padding-top: 110px;
}

.pr-110 {
    padding-right: 110px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pl-110 {
    padding-left: 110px;
}

.mt-110 {
    margin-top: 110px;
}

.mr-110 {
    margin-right: 110px;
}

.mb-110 {
    margin-bottom: 110px;
}

.ml-110 {
    margin-left: 110px;
}

.mt-sm-160 {
    margin-top: 160px;
}

.pt-115 {
    padding-top: 115px;
}

.pr-115 {
    padding-right: 115px;
}

.pb-115 {
    padding-bottom: 115px;
}

.pl-115 {
    padding-left: 115px;
}

.mt-115 {
    margin-top: 115px;
}

.mr-115 {
    margin-right: 115px;
}

.mb-115 {
    margin-bottom: 115px;
}

.ml-115 {
    margin-left: 115px;
}

.pt-120 {
    padding-top: 120px;
}

.pr-120 {
    padding-right: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pl-120 {
    padding-left: 120px;
}

.mt-120 {
    margin-top: 120px;
}

.mr-120 {
    margin-right: 120px;
}

.mb-120 {
    margin-bottom: 120px;
}

.ml-120 {
    margin-left: 120px;
}

.pt-125 {
    padding-top: 125px;
}

.pr-125 {
    padding-right: 125px;
}

.pb-125 {
    padding-bottom: 125px;
}

.pl-125 {
    padding-left: 125px;
}

.mt-125 {
    margin-top: 125px;
}

.mr-125 {
    margin-right: 125px;
}

.mb-125 {
    margin-bottom: 125px;
}

.ml-125 {
    margin-left: 125px;
}

.pt-130 {
    padding-top: 130px;
}

.pr-130 {
    padding-right: 130px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pl-130 {
    padding-left: 130px;
}

.mt-130 {
    margin-top: 130px;
}

.mr-130 {
    margin-right: 130px;
}

.mb-130 {
    margin-bottom: 130px;
}

.ml-130 {
    margin-left: 130px;
}

.pt-135 {
    padding-top: 135px;
}

.pr-135 {
    padding-right: 135px;
}

.pb-135 {
    padding-bottom: 135px;
}

.pl-135 {
    padding-left: 135px;
}

.mt-135 {
    margin-top: 135px;
}

.mr-135 {
    margin-right: 135px;
}

.mb-135 {
    margin-bottom: 135px;
}

.ml-135 {
    margin-left: 135px;
}

.pt-140 {
    padding-top: 140px;
}

.pr-140 {
    padding-right: 140px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pl-140 {
    padding-left: 140px;
}

.mt-140 {
    margin-top: 140px;
}

.mr-140 {
    margin-right: 140px;
}

.mb-140 {
    margin-bottom: 140px;
}

.ml-140 {
    margin-left: 140px;
}

.pt-145 {
    padding-top: 145px;
}

.pr-145 {
    padding-right: 145px;
}

.pb-145 {
    padding-bottom: 145px;
}

.pl-145 {
    padding-left: 145px;
}

.mt-145 {
    margin-top: 145px;
}

.mr-145 {
    margin-right: 145px;
}

.mb-145 {
    margin-bottom: 145px;
}

.ml-145 {
    margin-left: 145px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-160 {
    padding-top: 160px;
}

.pt-165 {
    padding-top: 165px;
}

.pt-170 {
    padding-top: 170px;
}

.mt-160 {
    margin-top: 160px;
}

.pt-180 {
    padding-top: 180px;
}

.pt-220 {
    padding-top: 220px;
}

.pr-150 {
    padding-right: 150px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pb-170 {
    padding-bottom: 170px;
}

.pb-180 {
    padding-bottom: 180px;
}

.pl-150 {
    padding-left: 150px;
}

select {
    cursor: pointer;
}

.mt-165 {
    margin-top: 165px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-170 {
    margin-top: 170px;
}

.mt-180 {
    margin-top: 180px;
}

.mt-210 {
    margin-top: 210px;
}

.mt-320 {
    margin-top: 320px;
}

.mr-150 {
    margin-right: 150px;
}

.mb-150 {
    margin-bottom: 150px;
}

.ml-150 {
    margin-left: 150px;
}

.bdr-circle {
    border-radius: 50%;
}

.bdr-xxlarge {
    border-radius: 30px;
}

.bdr-xxxlarge {
    border-radius: 40px;
}

.bdr-45 {
    border-radius: 45px;
}

.bdr-xlarge {
    border-radius: 25px;
}

.bdr-large {
    border-radius: 20px;
}

.bdr-small {
    border-radius: 10px;
}

.bdr-xsmall {
    border-radius: 5px;
}

.bdr-xxsmall {
    border-radius: 2px;
}

.bdr-0 {
    border-radius: 0px;
}

[class*="bdr-"] {
    overflow: hidden;
}

.image-cover {
    position: relative;
    display: block;
}

.image-cover.image-5-6 {
    padding-top: 120%;
}

.image-cover.image-6-5 {
    padding-top: 65%;
}

.image-cover.image-1-2 {
    padding-top: 200%;
}

.image-cover.image-1-1 {
    padding-top: 100%;
}

.image-cover.image-4-3 {
    padding-top: 75%;
}

.image-cover.image-16-9 {
    padding-top: 56.25%;
}

.image-cover.image-2-1 {
    padding-top: 50%;
}

.image-cover>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-7 {
    z-index: 7;
}

.z-8 {
    z-index: 8;
}

.z-9 {
    z-index: 9;
}

.z-10 {
    z-index: 10;
}

.nav {
    width: 100%;
    position: relative;
    display: inline-block;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav-right {
    justify-content: flex-end;
}

.nav-center {
    justify-content: center;
}

.nav>li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 7px;
    transition: background-color 0.3s;
}

.nav>li>a {
    display: inline-block;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.post-item {
    position: relative;
}

.post-item.box-vertical {
    display: table;
    width: 100%;
}

.post-item.box-vertical .image-box {
    direction: ltr;
    display: table-cell;
    vertical-align: middle;
    width: 33.3333%;
}

.post-item.box-vertical .text-box {
    padding: 0 15px;
    direction: ltr;
    display: table-cell;
    vertical-align: middle;
}

.post-item.box-overlay .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -1px;
    right: -1px;
    background-color: rgba(0, 0, 0, 0.15);
}

.post-item.box-overlay .text-box {
    padding: 15px;
    position: absolute;
    width: 100%;
    max-height: 100%;
    bottom: 0;
}

.color-1 {
    color: var(--color_1);
}

.color-warning {
    color: #e81c24;
}

.color-1a {
    color: #1a1a1a;
}

.color-92 {
    color: #929292;
}

.color-red {
    color: #ff0000;
}

.bd-1 {
    border: 1px solid;
}

.bdcl-1 {
    border-color: var(--color_1);
}

.bdcl-t-1 {
    border-top-color: var(--color_1);
}

.bdcl-r-1 {
    border-right-color: var(--color_1);
}

.bdcl-b-1 {
    border-bottom-color: var(--color_1);
}

.bdcl-l-1 {
    border-left-color: var(--color_1);
}

.bgcl-1 {
    background-color: var(--color_1);
}

.color-2 {
    color: var(--color_2);
}

.bd-2 {
    border: 2px solid;
}

.bdcl-2 {
    border-color: var(--color_2);
}

.bdcl-t-2 {
    border-top-color: var(--color_2);
}

.bdcl-r-2 {
    border-right-color: var(--color_2);
}

.bdcl-b-2 {
    border-bottom-color: var(--color_2);
}

.bdcl-l-2 {
    border-left-color: var(--color_2);
}

.bgcl-2 {
    background-color: var(--color_2);
}

.color-3 {
    color: var(--color_3);
}

.bd-3 {
    border: 3px solid;
}

.bdcl-3 {
    border-color: var(--color_3);
}

.bdcl-t-3 {
    border-top-color: var(--color_3);
}

.bdcl-r-3 {
    border-right-color: var(--color_3);
}

.bdcl-b-3 {
    border-bottom-color: var(--color_3);
}

.bdcl-l-3 {
    border-left-color: var(--color_3);
}

.bgcl-3 {
    background-color: var(--color_3);
}

.color-4 {
    color: var(--color_4);
}

.color-44 {
    color: #444444;
}

.bd-4 {
    border: 4px solid;
}

.bdcl-4 {
    border-color: var(--color_4);
}

.bdcl-t-4 {
    border-top-color: var(--color_4);
}

.bdcl-r-4 {
    border-right-color: var(--color_4);
}

.bdcl-b-4 {
    border-bottom-color: var(--color_4);
}

.bdcl-l-4 {
    border-left-color: var(--color_4);
}

.bgcl-4 {
    background-color: var(--color_4);
}

.color-5 {
    color: var(--color_5);
}

.bd-5 {
    border: 5px solid;
}

.bdcl-5 {
    border-color: var(--color_5);
}

.bdcl-t-5 {
    border-top-color: var(--color_5);
}

.bdcl-r-5 {
    border-right-color: var(--color_5);
}

.bdcl-b-5 {
    border-bottom-color: var(--color_5);
}

.bdcl-l-5 {
    border-left-color: var(--color_5);
}

.bgcl-5 {
    background-color: var(--color_5);
}

.color-6 {
    color: var(--color_6);
}

.color-96 {
    color: #969696;
}

.bd-6 {
    border: 6px solid;
}

.bdcl-6 {
    border-color: var(--color_6);
}

.bdcl-t-6 {
    border-top-color: var(--color_6);
}

.bdcl-r-6 {
    border-right-color: var(--color_6);
}

.bdcl-b-6 {
    border-bottom-color: var(--color_6);
}

.bdcl-l-6 {
    border-left-color: var(--color_6);
}

.bgcl-6 {
    background-color: var(--color_6);
}

.color-7 {
    color: var(--color_7);
}

.bd-7 {
    border: 7px solid;
}

.bdcl-7 {
    border-color: var(--color_7);
}

.bdcl-t-7 {
    border-top-color: var(--color_7);
}

.bdcl-r-7 {
    border-right-color: var(--color_7);
}

.bdcl-b-7 {
    border-bottom-color: var(--color_7);
}

.bdcl-l-7 {
    border-left-color: var(--color_7);
}

.bgcl-7 {
    background-color: var(--color_7);
}

.color-8 {
    color: var(--color_8);
}

.bd-8 {
    border: 8px solid;
}

.bdcl-8 {
    border-color: var(--color_8);
}

.bdcl-t-8 {
    border-top-color: var(--color_8);
}

.bdcl-r-8 {
    border-right-color: var(--color_8);
}

.bdcl-b-8 {
    border-bottom-color: var(--color_8);
}

.bdcl-l-8 {
    border-left-color: var(--color_8);
}

.bgcl-8 {
    background-color: var(--color_8);
}

.color-9 {
    color: var(--color_9);
}

.bd-9 {
    border: 9px solid;
}

.bdcl-9 {
    border-color: var(--color_9);
}

.bdcl-t-9 {
    border-top-color: var(--color_9);
}

.bdcl-r-9 {
    border-right-color: var(--color_9);
}

.bdcl-b-9 {
    border-bottom-color: var(--color_9);
}

.bdcl-l-9 {
    border-left-color: var(--color_9);
}

.bgcl-9 {
    background-color: var(--color_9);
}

.color-10 {
    color: var(--color_10);
}

.bd-10 {
    border: 10px solid;
}

.bdcl-10 {
    border-color: var(--color_10);
}

.bdcl-t-10 {
    border-top-color: var(--color_10);
}

.bdcl-r-10 {
    border-right-color: var(--color_10);
}

.bdcl-b-10 {
    border-bottom-color: var(--color_10);
}

.bdcl-l-10 {
    border-left-color: var(--color_10);
}

.bgcl-10 {
    background-color: var(--color_10);
}

.color-white {
    color: #fff;
}

.bgcl-white {
    background-color: #fff;
}

.bd-t-0 {
    border-top: 0;
}

.bd-r-0 {
    border-right: 0;
}

.bd-b-0 {
    border-bottom: 0;
}

.bd-l-0 {
    border-left: 0;
}

.bdcl-t-tran {
    border-top-color: transparent;
}

.bdcl-r-tran {
    border-right-color: transparent;
}

.bdcl-b-tran {
    border-bottom-color: transparent;
}

.bdcl-l-tran {
    border-left-color: transparent;
}

.w-14 {
    width: 14px;
}

.w-16 {
    width: 16px;
}

.w-18 {
    width: 18px;
}

.w-20 {
    width: 20px;
}

.w-25 {
    width: 25px;
}

.w-30 {
    width: 30px;
}

.w-35 {
    width: 35px;
}

.w-40 {
    width: 40px;
}

.w-45 {
    width: 45px;
}

.w-50 {
    width: 50px;
}

.w-55 {
    width: 55px;
}

.w-60 {
    width: 60px;
}

.w-65 {
    width: 65px;
}

.w-70 {
    width: 70px;
}

.w-75 {
    width: 75px;
}

.w-80 {
    width: 80px;
}

.w-100-pc {
    width: 100%;
}

.w-50-pc {
    width: 50%;
}

.icon-box .icon-box-img {
    margin-bottom: 1em;
    max-width: 100%;
    position: relative;
}

.icon-box-left,
.icon-box-right {
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.icon-box-left .icon-box-img {
    flex: 0 0 auto;
    margin-bottom: 0;
    max-width: 200px;
}

.icon-box-right .icon-box-img {
    flex: 0 0 auto;
    margin-bottom: 0;
    max-width: 200px;
}

.icon-box-right .icon-box-img+.icon-box-text {
    padding-right: 15px;
    order: -1;
}

.icon-box-center .icon-box-img {
    margin: 0 auto 1em;
}

.icon-box-right .icon-box-img+.icon-box-text {
    padding-right: 15px;
}

.icon-box-left .icon-box-img+.icon-box-text {
    padding-left: 15px;
}

.icon-box-left .icon-box-text,
.icon-box-right .icon-box-text {
    flex: 1 1 0px;
}

body.menu-open {
    /* height: 100vh;
  overflow: hidden; */
}

body.menu-open header:before {
    content: "";
    position: fixed;
    background: rgba(26, 26, 26, 0.4);
    width: 100vw;
    height: 100vh;
    right: 0;
    z-index: 1;
}

.nav-main.open {
    right: 0;
    display: block;
    position: fixed;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    background: #fff;
    z-index: 888;
    top: 0;
    transition: all 0.5s;
    margin-top: 0 !important;
}

.nav-main.open {
    display: block;
    flex-wrap: wrap;
}

.nav-main.open li {
    width: 100%;
}

a.menu-btn {
    height: 50px;
    width: 50px;
    box-shadow: 0 0 10px #ddd;
}

.flex-row {
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flex-row .flex-col {
    max-height: 100%;
}

.flex-right {
    margin-left: auto;
}

.flex-center {
    margin: 0 auto;
}

.flex-left {
    margin-right: auto;
}

.flex-grow {
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto !important;
}

.logo-left .logo {
    margin-left: 0;
    margin-right: 30px;
}

.logo-center .logo {
    order: 2;
    text-align: center;
    margin: 0 30px;
}

.logo-center .flex-left {
    order: 1;
    flex: 1 1 0;
}

.logo-center .flex-right {
    order: 3;
    flex: 1 1 0;
}

.nav-item {
    position: relative;
}

.nav-item.dropdown {
    position: relative;
}

.nav-item>.sub-menu {
    position: absolute;
    width: 150px;
    background-color: #fff;
    display: none;
    overflow: hidden;
    z-index: 9;
}

.toggle-hd {
    cursor: pointer;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.text-underline {
    text-decoration: underline;
}

.flickity .flickity-page-dots {
    bottom: 0;
}

.header-logo-dark {
    display: none;
}

.header-transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-transparent .header-logo:not(.header-logo-dark) {
    display: none;
}

.header-transparent .header-logo-dark {
    display: block;
}

a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5;
}

a.btn-center {
    margin: auto;
}

a.btn:before,
a.btn:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: 100% 100%;
}

.unclickable {
    pointer-events: none;
    cursor: default;
}

section {
    background-size: cover;
    background-position: center;
}


/*DEFAULT COLOR-------*/

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-33 {
    color: #333333;
}

.color-4d {
    color: #4d4d4d;
}

.color-66 {
    color: #666666;
}

.color-80 {
    color: #808080;
}

.color-ac {
    color: #acacac;
}


/*-------*/

.bgcl-white {
    background-color: white;
}

.bgcl-black {
    background-color: black;
}

.bgcl-33 {
    background-color: #333333;
}

.bgcl-4d {
    background-color: #4d4d4d;
}

.bgcl-66 {
    background-color: #666666;
}

.bgcl-80 {
    background-color: #808080;
}

.bgcl-ac {
    background-color: #acacac;
}

.bgcl-f7 {
    background-color: #f7f7f7;
}


/*-------*/

.bdcl-33 {
    border-color: #333333;
}

.bdcl-4d {
    border-color: #4d4d4d;
}

.bdcl-66 {
    border-color: #666666;
}

.bdcl-80 {
    border-color: #808080;
}

.bdcl-ac {
    border-color: #acacac;
}


/*-------*/

.pseu-half {
    position: relative;
}

.pseu-half:before,
.pseu-half:after {
    display: block;
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}